/** @wordpress */
import {
  MediaUpload,
  MediaUploadCheck,
} from '@wordpress/block-editor'
import {Button} from '@wordpress/components'

/** Modules */
import PropTypes from 'prop-types'

/**
 * Allowed media types
 * @const {array} ALLOWED_MEDIA_TYPES
 */
const ALLOWED_MEDIA_TYPES = ['image']

/**
 * Media
 *
 * @prop {object}   media
 * @prop {function} setAttributes
 */
const Media = ({media, setAttributes, ...props}) => {
  const {id, url} = media

  /**
   * Handle media attribute
   * @param {object} media
   */
  const setMedia = media => setAttributes({media})

  return (
    <MediaUploadCheck>
      <MediaUpload
        allowedMediaTypes={props.allowedMediaTypes || ALLOWED_MEDIA_TYPES}
        multiple={props.multiple || false}
        value={id || null}
        onSelect={setMedia}
        render={({open}) => (
          <>
            {url && (
              <figure>
                <img alt="alt text" src={url} />
              </figure>
            )}

            <Button isPrimary onClick={open}>
              {id ? 'Replace' : 'Add'} image
            </Button>
          </>
        )}
      />
    </MediaUploadCheck>
  )
}

Media.propTypes = {
  allowedMediaTypes: PropTypes.array,
  multiple: PropTypes.bool,
  media: PropTypes.object.isRequired,
  setAttributes: PropTypes.func.isRequired,
}

export default Media
