/** @wordpress */
import {__} from '@wordpress/i18n'
{{#hasAny 'components' (array 'InnerBlocks' 'RichText')}}
import {
  {{#has 'components' 'InnerBlocks'}}InnerBlocks,{{/has}}
  {{#has 'components' 'RichText'}}RichText,{{/has}}
} from '@wordpress/block-editor'
{{/hasAny}}

/** Modules */
import PropTypes from 'prop-types'

/**
  * The edit function describes the structure of your block in the context of the editor.
  * This represents what the editor will render when the block is used.
  *
  * @see https://git.io/JfZJD
  *
  * @prop   {PropTypes.string} className
  * @prop   {PropTypes.bool}   isSelected
  * @prop   {PropTypes.func}   setAttributes
  * @return {WPElement}        Element to render.
  */
const edit = ({attributes, className, setAttributes}) => {
{{#has 'components' 'RichText'}}
  const {text} = attributes
{{/has}}

{{#has 'components' 'RichText'}}
  /**
   * Generic attribute handler.
   *
   * @param  {string} attribute key
   * @param  {mixed}  attribute value
   * @return {void}
   */
  const setAttribute = (attr, value) => {
    setAttributes({[attr]: value})
  }
{{/has}}

  /**
   * Return the block contents for rendering.
   */
  return (
    <div className={className}>
    {{#has 'components' 'RichText'}}
      <RichText
        placeholder={__('placeholder heading', '{{namespace}}')}
        tagName={'h2'}
        value={text || ''}
        onChange={value => setAttribute('text', value)}
      />
    {{/has}}

    {{#has 'components' 'InnerBlocks'}}
      <InnerBlocks />
    {{/has}}
    </div>
  )
}

edit.propTypes = {
  {{#has 'components' 'RichText'}}
  attributes: PropTypes.shape({
    text: PropTypes.string,
  }),
  {{/has}}
  className: PropTypes.string,
  isSelected: PropTypes.bool,
  setAttributes: PropTypes.func,
}

export {edit}
